<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Inheritance.findashop_child2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PasswordBlank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EmailInvalid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Emailblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EmailPasswordvalid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>bothvalueblank</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>find_shop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PasswordInvalid</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
