<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="707274">  <td>21/01/19 12:08:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;findashop_child2.beforeTest()[pri:0, instance:Inheritance.findashop_child2@175b9425]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:08:28</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Askzuma_Signin_parentclass.beforeTest(java.lang.String)[pri:0, instance:Inheritance.findashop_child2@175b9425]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:08:41</td>   <td>13832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.beforeClass()[pri:0, instance:Inheritance.findashop_child2@175b9425]">beforeClass</td> 
  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:09:09</td>   <td>41459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.bothvalueblank()[pri:1, instance:Inheritance.findashop_child2@175b9425]">bothvalueblank</td> 
  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:09:15</td>   <td>47378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.Emailblank()[pri:2, instance:Inheritance.findashop_child2@175b9425]">Emailblank</td> 
  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:09:21</td>   <td>53844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.PasswordBlank()[pri:3, instance:Inheritance.findashop_child2@175b9425]">PasswordBlank</td> 
  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:09:26</td>   <td>58069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.EmailInvalid()[pri:4, instance:Inheritance.findashop_child2@175b9425]">EmailInvalid</td> 
  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:09:39</td>   <td>71743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.PasswordInvalid()[pri:5, instance:Inheritance.findashop_child2@175b9425]">PasswordInvalid</td> 
  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:09:59</td>   <td>91688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.EmailPasswordvalid()[pri:6, instance:Inheritance.findashop_child2@175b9425]">EmailPasswordvalid</td> 
  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="707274">  <td>21/01/19 12:10:09</td>   <td>101805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="findashop_child2.find_shop()[pri:7, instance:Inheritance.findashop_child2@175b9425]">find_shop</td> 
  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>21/01/19 12:10:33</td>   <td>125362</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Askzuma_Signin_parentclass.afterClass()[pri:0, instance:Inheritance.findashop_child2@175b9425]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1210830415</td>   <td></td> </tr>
<tr bgcolor="707274">  <td>21/01/19 12:10:36</td>   <td>128610</td> <td>&nbsp;</td><td title="&lt;&lt;findashop_child2.afterTest()[pri:0, instance:Inheritance.findashop_child2@175b9425]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1210830415</td>   <td></td> </tr>
</table>
