<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:32:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.EmailInvalid()[pri:4, instance:Inheritance.findashop_child2@6a03bcb1]">EmailInvalid</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:33:42</td>   <td>71085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.EmailInvalid()[pri:4, instance:Inheritance.findashop_child2@5f16132a]">EmailInvalid</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:32:44</td>   <td>13056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.EmailPasswordvalid()[pri:6, instance:Inheritance.findashop_child2@6a03bcb1]">EmailPasswordvalid</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:34:05</td>   <td>94363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.EmailPasswordvalid()[pri:6, instance:Inheritance.findashop_child2@5f16132a]">EmailPasswordvalid</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:32:22</td>   <td>-8974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.Emailblank()[pri:2, instance:Inheritance.findashop_child2@6a03bcb1]">Emailblank</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:33:32</td>   <td>61692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.Emailblank()[pri:2, instance:Inheritance.findashop_child2@5f16132a]">Emailblank</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:32:27</td>   <td>-3586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.PasswordBlank()[pri:3, instance:Inheritance.findashop_child2@6a03bcb1]">PasswordBlank</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:33:38</td>   <td>67602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.PasswordBlank()[pri:3, instance:Inheritance.findashop_child2@5f16132a]">PasswordBlank</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:32:38</td>   <td>7723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.PasswordInvalid()[pri:5, instance:Inheritance.findashop_child2@6a03bcb1]">PasswordInvalid</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:33:54</td>   <td>83708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.PasswordInvalid()[pri:5, instance:Inheritance.findashop_child2@5f16132a]">PasswordInvalid</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:33:06</td>   <td>35817</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Askzuma_Signin_parentclass.afterClass()[pri:0, instance:Inheritance.findashop_child2@6a03bcb1]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:34:39</td>   <td>128133</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Askzuma_Signin_parentclass.afterClass()[pri:0, instance:Inheritance.findashop_child2@5f16132a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>21/01/20 10:33:07</td>   <td>35889</td> <td>&nbsp;</td><td title="&lt;&lt;findashop_child2.afterTest()[pri:0, instance:Inheritance.findashop_child2@6a03bcb1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>21/01/20 10:34:40</td>   <td>129297</td> <td>&nbsp;</td><td title="&lt;&lt;findashop_child2.afterTest()[pri:0, instance:Inheritance.findashop_child2@5f16132a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:32:05</td>   <td>-25340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.beforeClass()[pri:0, instance:Inheritance.findashop_child2@6a03bcb1]">beforeClass</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:33:15</td>   <td>44391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.beforeClass()[pri:0, instance:Inheritance.findashop_child2@5f16132a]">beforeClass</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>21/01/20 10:31:58</td>   <td>-33042</td> <td>&nbsp;</td><td title="&gt;&gt;findashop_child2.beforeTest()[pri:0, instance:Inheritance.findashop_child2@6a03bcb1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:31:58</td>   <td>-33017</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Askzuma_Signin_parentclass.beforeTest(java.lang.String)[pri:0, instance:Inheritance.findashop_child2@6a03bcb1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>21/01/20 10:33:07</td>   <td>36027</td> <td>&nbsp;</td><td title="&gt;&gt;findashop_child2.beforeTest()[pri:0, instance:Inheritance.findashop_child2@5f16132a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:33:07</td>   <td>36029</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Askzuma_Signin_parentclass.beforeTest(java.lang.String)[pri:0, instance:Inheritance.findashop_child2@5f16132a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:32:16</td>   <td>-14342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.bothvalueblank()[pri:1, instance:Inheritance.findashop_child2@6a03bcb1]">bothvalueblank</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>21/01/20 10:33:27</td>   <td>56278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Askzuma_Signin_parentclass.bothvalueblank()[pri:1, instance:Inheritance.findashop_child2@5f16132a]">bothvalueblank</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>21/01/20 10:32:49</td>   <td>18195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="findashop_child2.find_shop()[pri:7, instance:Inheritance.findashop_child2@6a03bcb1]">find_shop</td> 
  <td>main@717176949</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>21/01/20 10:34:16</td>   <td>104894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="findashop_child2.find_shop()[pri:7, instance:Inheritance.findashop_child2@5f16132a]">find_shop</td> 
  <td>main@717176949</td>   <td></td> </tr>
</table>
